**/*.bak
**/*.d
**/*.err
**/*.exe
**/*.lib
**/*.lis
**/*.o
**/*.orig
**/*.vcxproj.user
**/.prove
**/.prove
**/.vs
**/.vscode
**/__pycache__
**/_prove
**/lib*.a
**/old/*
msvc/Debug/
msvc/Forth/Debug/
msvc/Forth/Release/
msvc/Forth/x64/
msvc/Release/
msvc/x64/
