**/*.bak
**/*.d
**/*.err
**/*.exe
**/*.lib
**/*.lis
**/*.o
**/*.orig
**/*.vcxproj.user
**/.prove
**/.vs
**/.vscode
**/__pycache__
**/_prove
**/.prove
**/lib*.a
msvc/Forth/Debug/
msvc/Forth/Release/
msvc/Forth/x64/
msvc/Debug/
msvc/Release/
msvc/x64/
**/old/*
